/* 
conceptpage {
*/
.concept_main_img {
    width: 100%;
}

.concept_page {
    text-align: center;
    justify-content: center;
    padding: 80px 0;
}

.concept_image {
    width: 80%;
    margin: 48px auto;
    display: block;
}

.concept_heading {
    font-size: 20px;
    margin: 30px 0;
}

.concept_text {
    font-size: 16px;
    line-height: 1.8;
}

@media screen and (max-width: 768px) {
    .concept_page {
        padding: 64px 16px;
    }

    .concept_image {
        width: 100%;
    }
}